//sidebar
//==========
.sidebar {
	.claendar-parent {
		margin-right: -17px;
		height: 480px !important;
		.fc-header-toolbar {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-flow: column;
			flex-flow: column;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin-right: 17px;
			h2 {
				font-size: 25px;
				margin-bottom: 10px;
			}
		}

		.fc-widget-header {
			table {
				thead {
					tr {
						th {
							text-align: center;
							font-weight: bold;
							line-height: 2em;
							background: #333333;
							color: #fff;
							border-width: 0;
							padding: 5px;
						}
					}
				}
			}
		}
		.fc-content-skeleton {
			table {
				thead {
					tr {
						td {
							color: #4d4d4d;
							background: #e6e6e6;
							line-height: 57px;
							text-align: center;
							border: 2px solid #fff;
						}
						td.fc-today {
							color: #fff !important;
							background: #808080 !important;
						}
					}
				}
			}
		}

		.fc-basic-view .fc-body .fc-row {
			 min-height: inherit;
			height: inherit!important;
		}

		.fc-day-number {
			float: inherit !important;
		}

		td,
		tbody,
		td,
		th,
		thead {
			border-color: #fff;
		}
		.fc-content-skeleton {
			padding-bottom: 0 !important;
			margin: -2px 0;
		}
		.fc-day-grid-container {
			margin-right: 17px;
		}
	}

	.ecp-widget-event-list {
		margin-bottom: 30px;
		ul {
			h4 {
				text-align: inherit;
			}
			li {
				border-color: #ccc;
				h4 {
					font-size: 18px;
				}
				padding: 0 !important;
				.panel-title {
					position: relative;
					font-size: 12px;
					line-height: 20px;
					span .caret {
						position: absolute;
						top: 8px;
						right: 0;
					}
					.event-time {
						color: #000;
						font-size: 10px;
						line-height: 20px;
						font-weight: 400;
					}
					a {
						display: block;
						box-shadow: inset 0 0 0 #fff;
					}
				}
				&:first-child {
					border: 0 !important;
				}
				.panel-collapse {
					padding: 9px 15px;
					border-top: 1px solid #e5e5e5;
					font-size: 10px;
					color: #333;
					line-height: 20px;
				}

			}
		}
	}


	.ecp-widget-event-filter {
		border-top: 2px solid #cdcdcd;
		border-bottom: 2px solid #cdcdcd;
		padding-top: 5px;
		margin-top: 10px;
		select {
			border-color: #ccc !important;
			margin-top: 8px;
		}
		input[type="search"] {
			width: calc(100% - 40px);
			height: 35px;
			border: 1px solid #ccc;
			border-radius: 4px 0 0 4px;
			padding: 4px 10px;
			border-right-style: none;
			float: left;
		}
		button[type=submit] {
			font-size: 15px;
			text-transform: capitalize;
			height: 35px;
			border-radius: 0 5px 5px 0;
		}
	}
}

.calendar-sidebar {
	.ecp-widget-event-footer {
		.btn {
			display: block !important;
			width: 100% !important;
			&:first-child {
				float: inherit !important;
			}
			&:last-child {
				margin-top: 5px;
				float: inherit !important;
			}
		}
	}
	.ecp-widget-event-footer {
		border-bottom: 0;
	}
}

//single event pro
.ecp-single-event {
	h3.title {
		font-size: 25px;
		border-bottom: 1px solid #a6a6a6;
		margin: 10px 0;
		padding: 10px 0;
	}
	.ecp-single-event-body {
		&:after {
			content: " ";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}
	.event-image {
		float: left;
		margin: 0 15px 5px 0;
		display: inline-block;
		img {
			display: block;
			padding: 4px;
			line-height: 20px;
			border: 1px solid #ddd;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
			max-width: 375px;
			max-height: 400px;
		}
	}

}


//community-calendar-area
.gm-community-calendar-area {
	.fc-header-toolbar {
		h2 {
			font-size: 26px;
			vertical-align: middle;
			line-height: 38px;
		}

	}
	th.fc-widget-header {
		background-color: #a0ce4e;
		border-color: #a0ce4e;
		padding: 12px;
		color: #fff;
	}
	.fc-widget-content {
		line-height: 70px;
		max-height: 70px !important;
	}
	.fc-content-skeleton {
		.fc-day-number {
			width: 100%;
			text-align: center;
		}
	}
}

//calendar-vent-list
.gm-community-calendar-event-list {
	padding-top: 40px;
	li {
		list-style: none;
		.panel-collapse {
			padding: 20px;
		}
	}
	h4 {
		text-align: inherit;
	}

}

//event-calendar-filter
.gm-event-calendar-filter {
	.ecp-widget-event-filter {
		background: #f5f5f5;
		padding: 20px;
		margin-bottom: 20px;

		.form-group {
			display: inline-block;
			vertical-align: middle;
			width: 32%;
			.form-control {
			}
		}
		.search-field-warp {
			position: relative;
			width: 350px;
			padding-right: 45px;
			.btn-default {
				position: absolute;
				top: 0;
				right: 0;
			}

		}
	}
}

//sidebar button
.gm-community-calendar-sidebar-button {
	margin-bottom: 30px;
	.btn-default {
		margin-bottom: 10px;
	}

}
