//slider-feature-post
//=============
.feature-post {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #00C6C5;
	.feature-post-top {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 65%;
		flex: 0 0 65%;
	}
	.feature-post-bottom {
		background: #00C6C5;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 35%;
		flex: 0 0 35%;
		text-align: center;
		padding: 30px;
		.category-name {
			display: inline-block;
			margin-bottom: 0;
			padding-bottom: 10px;
			@include font-size($fp-category-name-font-size);
			color: $fp-category-name-text-color;
			font-weight: 400;
			position: relative;
			text-transform: lowercase;
			&:after {
				@include bottom-dotted;
			}
		}
		.title {
			font-family: $font-family-ibm-plex-serif;
			@include font-size($fp-title-font-size);
			color: $fp-title-text-color;
			font-weight: 400;
			margin: 15px 0;
		}
		.sub-title {
			@include font-size($fp-sub-title-font-size);
			color: $fp-sub-title-text-color;
			font-weight: 400;
		}
	}
}

//directory-sidebar menu
.directory-sidebar-menu {
	margin-bottom: 40px;
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		li {
			padding: 5px;
			margin: 8px 0 !important;
			border: 0 !important;
			a {
				display: block;
				text-align: center;
				border: 1px solid $white;
				padding: 10px;
				text-transform: uppercase;
				font-size: 20px;
				color: #ffffff;
				@include hover {
					text-decoration: none;
				}
			}
			&:nth-child(1) {
				background: $sunglow;
			}
			&:nth-child(2) {
				background: #00C6C5;
			}
			&:nth-child(3) {
				background: $carrot-orange;
			}
			&:nth-child(4) {
				background: $brink-pink;
			}
			&:nth-child(5) {
				background: #B7E068;
			}
		}
		&:last-child li {
			margin-bottom: 0 !important;
		}
	}

}

//post-card
.post-card {
	&-top {
		.post-thumbnail-link {
			display: block;
			text-align: center;
		}
	}
	&-bottom {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 10px;
		.meta-category {
			margin-top: 10px;
			margin-bottom: 15px;
			text-align: center;
			.category-name {
				display: inline-block;
				position: relative;
				font-family: $font-family-ibm-plex-serif;
				@include font-size($post-card-category-font-size);
				color: $post-card-category-name-color;
				padding-bottom: 8px;
				text-transform: lowercase;
				@include hover {
					text-decoration: none;
				}
				&:after {
					@include bottom-dotted;
				}
			}
		}
		.title {
			font-family: $font-family-ibm-plex-serif;
			@include font-size($post-card-title-font-size);
			font-weight: 400;
		}

	}
}

//category-feature-post
//=====================
.category-feature-post {
	padding-bottom: 40px;
	.post-card-bottom {
		background: #F7F9F9;
		padding: 30px;
	}
}

//categories-area
//===============
.categories-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	.category-item {
		&-bottom {
			padding-top: 20px;
		}
		text-align: center;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		padding: 20px;
		.category-name {
			display: inline-block;
			margin-bottom: 0;
			padding-bottom: 10px;
			@include font-size($category-name-font-size);
			color: $white;
			font-weight: 400;
			position: relative;
			text-transform: lowercase;
			&:after {
				@include bottom-dotted;
			}
			@include hover {
				text-decoration: none;
			}

		}
	}
	.description {
		margin-top: 10px;
		font-weight: 600;
		color: #252525;
		font-size: 20px;
	}
}

//sign-up-form
//=============
.sign-up-form-area {
	border: 4px solid $sign-up-form-border-color;
	.form-heading-area {
		padding-top: 23px;
		.angle-arrow-icon {
			text-align: center;
			img {
				display: inline-block;
				margin-left: -62px;
			}
		}
		.form-heading {
			font-weight: 400;
			text-transform: uppercase;
			font-size: 24px;
			padding: 0 15px;
			span {
				color: $sign-up-form-heading-span-color;
			}
		}
	}
	.form-heading2 {
		margin-bottom: 0;
		padding: 15px 15px 0;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 24px;
	}
	.form-info {
		font-size: 12px;
		padding: 15px;
	}
	.sign-up-btn-area {
		text-align: right;
		padding: 15px;
		padding-bottom: 30px;
		.sign-up-btn {
			font-size: 12px;
			color: $white;
			background: $sign-up-form-btn-bg-color;
			border-radius: 0;
			padding: 6px 20px;
		}

	}

	.input-field-group {
		padding: 15px;
		input[type="text"],
		input[type="email"] {
			width: 100%;
			margin-bottom: 10px;
			padding-left: 15px;
			padding-right: 15px;
		}
		input,
		input::-webkit-input-placeholder {
			font-size: 12px;
			color: #252525;
			line-height: 30px;
			font-family: $font-family-pt-sans;
		}
	}
	.choose-list-title {
		padding: 10px;
		text-align: center;
		background: #00AEEF;
		font-size: 18px;
		font-family: $font-family-ibm-plex-serif;
		text-transform: uppercase;
		color: $white;
	}

	.checkbox-area {
		.form-group {
			display: block;
			padding: 5px 15px;
			margin-bottom: 0;

			input {
				padding: 0;
				height: initial;
				width: initial;
				margin-bottom: 0;
				display: none;
				cursor: pointer;
			}
			label {
				position: relative;
				cursor: pointer;
				&:before {
					content: '';
					-webkit-appearance: none;
					background-color: transparent;
					border: 1px solid #959595;
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
					padding: 8px;
					display: inline-block;
					position: relative;
					vertical-align: middle;
					cursor: pointer;
					margin-right: 5px;
				}
			}

			input:checked + label:after {
				content: '';
				display: block;
				position: absolute;
				top: 4px;
				left: 7px;
				width: 6px;
				height: 11px;
				border: solid #00aeef;
				border-width: 0 2px 2px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			.checkbox-text {
				margin-top: -24px;
				padding-left: 36px;
				font-size: 18px;
				font-weight: 400;
				margin-bottom: 0;
			}
		}
	}

	.sing-up-2 {
		.input-field-group {
			input[type="text"],
			input[type="email"] {
				display: inline-block !important;
				width: 226px;
				line-height: 29px;
			}
		}

		.sign-up-btn {
			font-size: 12px;
			color: #fff;
			background: #E83309;
			border-radius: 0;
			padding: 2px 29px;
			margin-left: -6px;
			border: 1px solid #e83309;
			line-height: 29px;
		}
	}
}

//diy-easy-fun-area
//====================
.diy-easy-fun-area {
	border: 5px dashed $silver-sand;
	padding: 20px 40px;
	.section-title {
		margin-bottom: 20px;
		font-family: $font-family-ibm-plex-serif;
		color: $diy-easy-section-title-color;
		font-weight: 400;
		@include font-size(36px);
		span {
			color: $diy-easy-section-title-color2;
		}
	}
	.post-card {
		margin-bottom: 20px;
		.side-by-side {
			.post-card-top {
				display: inline-block;
				width: 40%;
				vertical-align: top;
				text-align: left;
				margin-right: 3%;
				a {

				}
			}
			.post-card-bottom {
				padding-top: 0;
				.meta-category {
					text-align: left;
					margin-top: 0;
				}
				display: inline-block;
				width: 48%;
				vertical-align: top;
				text-align: left;
			}
		}

	}
}

//spotlight-area
//==============
.spotlight-area {
	background: #EDEEEF;
	.section-title {
		padding: 30px 40px 30px;
		margin-bottom: 0;
		color: #00AEEF;
		font-weight: 400;
		@include font-size(40px);
		span {
			color: #BDD53C;
		}
	}
	.post-card {
		.post-card-top {
			text-align: left;
		}
		.post-card-bottom {
			text-align: left;
			padding: 40px;
			p {
				line-height: 30px;
			}
			.post-title {
				@include font-size(40px);
			}
		}
		.more-btn {
			color: #F59323;
			margin-left: 5px;
			text-transform: uppercase;
			font-size: 14px;
			span {
				color: #F94319;
			}
		}
	}
}

//learning connection
//=====================
.learning-post-area {
	.section-title {
		span {
			color: $learning-section-title-color
		}
	}
}

//read-comment-btn
//=================
.read-comment-btn {
	margin-top: 40px;
	display: block;
	padding: 10px;
	background: $read-comment-btn-bg;
	border-radius: 0;
	color: $read-comment-btn-color;
	font-family: $font-family-ibm-plex-serif;
	@include font-size($read-comment-btn-font-size);
	@include hover {
		color: $read-comment-btn-color;
		background: darken($read-comment-btn-bg, 15%);
	}
}

//author-info-area
//================
.author-info-inner {
	border-top: 6px dashed $single-author-border-color;
	border-bottom: 6px dashed $single-author-border-color;
	margin: 40px 0;
	padding: 25px 0;
	.author-info-top {
		width: 15%;
		display: inline-block;
		vertical-align: top;
		margin-right: 3%;
	}
	.author-info-bottom {
		width: 80%;
		display: inline-block;
		vertical-align: top;
		.title {
			@include font-size($single-author-title-font-size);
			color: $single-author-title-color;
			font-weight: 400;
			a {
				color: $single-author-title-color;
				font-weight: 400;
			}
			.icon {
				color: $single-author-title-icon-color;
				display: inline-block;
				margin: 0 10px;
			}
			.writer-name {
				font-weight: 700;
				color: #707070;
				text-transform: uppercase;
			}
		}
		.desc {
			@include font-size($single-author-desc-font-size);
			color: $single-author-desc-color;
		}

	}
}

//custom single post
//==================
.custom-single-post {
	.entry-category {
		.category-name {
			display: inline-block;
			margin-bottom: 0;
			padding-bottom: 10px;
			font-family: $font-family-sans-serif;
			@include font-size($single-category-name-font-size);
			color: $single-category-name-color;
			font-weight: 400;
			position: relative;
			text-transform: lowercase;
			&:after {
				@include bottom-dotted;
			}
		}
	}
	.entry-title {
		font-family: $font-family-ibm-plex-serif;
		@include font-size($single-entry-title-font-size);
		color: $single-entry-title-color;
		margin: 20px 0;
		font-weight: 400;
		padding-right: 200px;
	}
	.entry-meta {
		margin-bottom: 30px;
		@include font-size($single-entry-meta-font-size);
		.meta-author {
			text-transform: capitalize;
		}
		.icon {
			margin: 0 10px;
			color: #4BCCC9;
		}
	}
}

//form input field
.custom-form-field {
	.col4 {
		width: 32%;
		margin-left: 1.44%;
		display: inline-block;
		vertical-align: top;
		&:first-child {
			margin-left: 0% !important;
		}
	}
	.col12 {
		width: 100%;
	}
	input {
		margin-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		border: 1px solid #ccc;
		border-radius: 0;
	}
	input,
	textarea,
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		@include font-size($font-s-16);
		color: #252525;
		line-height: 30px;
		font-family: $font-family-pt-sans;
	}
	textarea {
		padding-left: 10px;
		padding-right: 10px;
		border: 1px solid #ccc;
		border-radius: 0;
	}
	input[type=submit] {
		color: #ffffff;
		background: #F59323;
		border-radius: 0;
		margin-top: 20px;
		text-transform: uppercase;
		padding: 8px 29px;
	}
}

//blog-post
.blog-post {
	display: block;
	height: 100%;
	border: 1px solid #eaeaea;
	border-bottom-width: 3px;
	.blog-post-top {
	}
	.blog-post-bottom {
		padding: 30px 20px 25px 25px;
		.entry-title {
			@include font-size(24px);
			a {
				@include hover {
					color: darken(#4bccc9, 15%);
				}
			}
		}
		.entry-meta {
			@include font-size(17px);
			margin-bottom: 15px;
			color: #707070;
		}
		.btn.read-more {
			margin-top: 15px;
			padding: 0;
			@include hover {
				outline: 0;
				color: darken(#4bccc9, 15%);
			}
		}
	}
}

// pagination
.custom-pagination {
	width: 100%;
	.pagination {
		margin-top: 20px;
		margin-bottom: 45px;
	}
	.page-numbers {
		background: $white;
		color: $pagination-text-color;
		font-weight: bold;
		font-size: 17px;
		float: left;
		padding: 6px 12px;
		border: 1px solid;
		border-color: rgba($pagination-bg-color, .3);
		margin-right: 5px;
		@include hover {
			border-color: rgba($pagination-bg-color, 15%);
			text-decoration: none;
		}
		&.current {
			color: $white;
			background: rgba($pagination-bg-color, 1%);
			border-color: $pagination-bg-color;
		}
	}
}

//event-listing
.event-listing {
	padding: 10px 0;
	.calendar-list-image {
		float: right;
		display: inline-block;
		overflow: hidden;
		vertical-align: sub;
		margin-left: 10px;
	}
	.event-title {
		margin-top: 10px;
		font-size: 28px;
	}
	.event-location,
	.event-date {
		font-size: 18px;
		font-weight: 700;
	}
	.recurrence {
		font-weight: 700;
		font-style: italic;
	}
	.event-categories {
		a {
			display: inline-block;
			padding: 5px;
			background-color: #ccc;
			margin-right: 10px;
		}
	}
	.event-detail {
		display: block;
		margin: 10px 0;
	}
}

//default button
.btn-default.custom-btn {
	border-color: $btn-bg-color;
	background: $btn-bg-color;
	text-transform: uppercase;
	color: $btn-text-color;
	padding: 13px 29px;
	line-height: 17px;
	@include font-size(17px);
	border-radius: 2px;
	@include hover {
		background: darken($btn-bg-color, 10%);
		color: $btn-text-color;
	}
}

.social-media-share-area {
	.social-media-heading {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: 70px;
			height: 26px;
			background: url('../images/angle-right.png') no-repeat;
			margin-top: -13px;
		}
	}
	p {
		margin-bottom: 0;
		color: #F06A54;
		font-size: 22px;
		font-family: $font-family-ibm-plex-serif;
	}
	.social-media-button a {
		padding: 8px;
		display: inline-block;
		font-size: 22px;
		color: #707070;
	}

}

