//default-font-sze
//=================
$font-size-base: 18px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

/*
$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
*/

$font-size-h1: floor(($font-size-base * 2)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 1.67)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.3)) !default; // ~24px
$font-size-h4: $font-size-base !default; // ~18px
$font-size-h5: ceil(($font-size-base * 0.7)) !default; //14px
$font-size-h6: ceil(($font-size-base * 0.6)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429 !default; // 20/14

/*$line-height-base: 1.111111111111111 !default;*/ // 20/18

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px
//default-font-sze-end

//font-size-lists
//===============
$font-s-16: 16px;
$font-s-18: 18px;
$font-s-20: 20px;
$font-s-24: 24px;
$font-s-25: 25px;
$font-s-27: 27px;
$font-s-30: 30px;
$font-s-40: 40px;
$font-s-42: 42px;
$font-s-36: 36px;
$font-s-54: 54px;

//header-font-size
//=================
$header-top-menu-font-size: $font-s-25;
$header-main-menu-font-size: $font-s-18;
$header-submenu-font-size: $font-s-16;

//footer-font-size
//=================
$footer-widget-title-font-size: $font-s-20;
$footer-menu-font-size: $font-s-20;
$footer-message-font-size: $font-s-20;
$footer-follow-us-font-size: $font-s-18;
$footer-follow-us-text-font-size: $font-s-40;

//feature post font-size
//======================
$fp-category-name-font-size: $font-s-24;
$fp-title-font-size: $font-s-54;
$fp-sub-title-font-size: $font-s-30;

//section title font-size
//=======================
$section-title-font-size: $font-s-36;

//post card font-size
//==================
$post-card-title-font-size: $font-s-24;
$post-card-category-font-size: $font-s-20;

//categories-area
//===============
$category-name-font-size: $font-s-18;

//single page font size
//=====================
$single-category-name-font-size: $font-s-36;
$single-entry-title-font-size: $font-s-54;
$single-entry-meta-font-size: $font-s-24;

//author-info block
//=================
$single-author-title-font-size: $font-s-20;
$single-author-desc-font-size: $font-s-16;

//read comments btn
//=================
$read-comment-btn-font-size: $font-s-24;




