.footer-area {
	background: $footer-area-bg-color;
	padding-bottom: 20px;
	.footer-right-area{
		margin-left: 40px;
	}
	.footer-bottom-block {
		margin-bottom: 30px;
	}
}

//footer top-block
.footer-top-block {
	margin-left: 41%;
	background: $footer-top-bg-color;
	padding: 10px 0;
	margin-bottom: 40px;
	.follow-us-area {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-line-pack: center;
		align-content: center;
		margin-left: 65px;
	}
	.follow-us-area >.item{
		margin: 10px;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;
		a{
			display: inline-block;
			@include hover{
				outline:none;
				text-decoration: none;
			};
		}
		span{@include font-size($footer-follow-us-font-size);color: $white;}
		.text{@include font-size($footer-follow-us-text-font-size);}
	}
}



//footer widget block
.footer-widget-block {
	font-family: $footer-font-family;
	line-height: 27px;
	.footer-widget-title {
		@include font-size($footer-widget-title-font-size);
		text-transform: uppercase;
		color: $footer-title-color;
		font-weight: 400;
		margin-bottom: 10px;
	}
	.menu {
		padding: 0;
		list-style: none;
		li {
			a {
				color: $footer-menu-text-color;
				@include font-size($footer-menu-font-size);
				&:hover {
					text-decoration: none;
				}
			}
		}
		.sub-menu {
			padding-left: 0;
			list-style: none;
		}
	}

}

//footer message
.footer-message-area {
	.footer-message-top {
		background: $footer-message-bg;
		@include font-size($footer-message-font-size);
		padding: 30px;
		font-family: $footer-font-family;
		font-style: italic;
		color: $brand-primary;
		font-weight: 600;
		margin-top: -80px;
		position: relative;
	}
	.footer-message-top:after {
		position: absolute;
		right: 60%;
		bottom: -19px;
		content: '';
		border-bottom: 40px solid transparent;
		border-right: 40px solid #fff;
		-webkit-transform: rotate(134deg);
		-ms-transform: rotate(134deg);
		transform: rotate(135deg);
	}
	.footer-message-bottom {
		@include font-size($footer-message-font-size);
		font-weight: 700;
		margin-top: 40px;
		margin-left: 80px;
	}
	p {
		margin-bottom: 0;
	}
}



//footer site info
.footer-site-info {
	color: $footer-site-info-color;
	.footer-widget-title {
		display: none
	}
	a {
		color: $footer-site-info-link-color;
	}
}


