.logged-in.admin-bar {
	.hamburger-menu {
		top: 32px;
	}
}

.hamburger-menu {
	position: fixed;
	height: 100%;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 300px;
	margin-left: -300px;
	background: rgb(255, 255, 255);
	padding: 30px;
	transition: all 0.36s ease 0s;
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	ul {
		list-style: none;
		padding-left: 0;
		width: 100%;
		text-align: left;
		li {
			float: none;
			text-align: left;
			a {
				display: block;
				color: #03a29d;
				padding: 10px;
				font-size: 18px;
				font-weight: 400;
				transition: all 0.36s ease 0s;
				@include hover {
					color: #ff1266;
				}

			}
			a:hover, a:focus {
				text-decoration: none;
				background-color: transparent;
			}
		}

		.dropdown-menu {
			padding: 8px 10px;
			min-width: 200px;
			border-radius: 0;
			> li {
				padding: 0;
				&:before {
					position: static;
				}
				> a {
					@include font-size($header-submenu-font-size);
					padding: 3px 15px;
					&:hover {
						background-color: #f5f5f5;
						color: #ff1266;
					}
				}
			}
		}

		.dropdown-menu > .active > a,
		.dropdown-menu > .active > a:focus,
		.dropdown-menu > .active > a:hover {
			background-color: #f5f5f5;
			color: #ff1266;
		}

	}

	.hamburger-menu-close {
		color: #000;
		font-size: 18px;
		cursor: pointer;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		line-height: 1;
		padding: 15px 20px;
		transition: all 0.36s ease 0s;
	}
	&.active {
		margin-left: 0;
	}
}

.hamburger-full-body-overlay {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 0;
	background: rgb(0, 0, 0);
	transition: all 0.3s ease 0s;
	&.active {
		z-index: 98;
		opacity: 0.5;
		width: 100%;
		height: 100%;
	}
}

.hamburger-menu-trigger {
	float: left;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	span {
		width: 30px;
		height: 3px;
		display: block;
		background: #000;
		margin: 5px 0px;
	}
}

