.header-top-section {
	border-bottom: 1px solid $header-border-color1;
	margin-top: 40px;
	//header-top-left
	.header-top-left {
		width: 63%;
		float: left;
		.logo-area {
			display: inline-block;
			img {
				max-width: 265px;
				padding-right: 15px;
			}
		}
		.top-menu-area {
			display: inline-block;
			margin-top: 30px;
			margin-bottom: 30px;
			.top-menu-list {
				padding-left: 0;
				margin-bottom: 0;
				li {
					display: inline-block;
					position: relative;
					/*&:hover{
						.sub-title{
							opacity: 1;
						}
					}*/
					.sub-title {
						transition: all .4s;
						position: absolute;
						bottom: 100%;
						left: 0;
						padding: 0;
						margin-bottom: 10px;
						opacity: 1;

						li {
							position: relative;
							background: #FFD832;
							padding: 8px;
							font-size: 12px;
							color: #FFFFFF;
							text-align: center;
							&:after {
								position: absolute;
								bottom: -10px;
								content: '';
								left: 50%;
								width: 0;
								height: 0;
								right: 15px;
								border-bottom: 20px solid transparent;
								border-right: 20px solid #FFD832;
								z-index: -1;
								-ms-transform: rotate(20deg);
								-webkit-transform: rotate(20deg);
								transform: rotate(134deg);
								margin-left: -10px;
							}
						}
					}

					a {
						@include font-size($header-top-menu-font-size);
						color: $header-top-menu-color;
						font-family: $font-family-ibm-plex-serif;
						padding: 10px;
						position: relative;
						&:after {
							position: absolute;
							top: 50%;
							left: -6px;
							content: '';
							background: $header-top-menu-color;
							width: 6px;
							height: 6px;
							border-radius: 100%;
							margin-top: -1px;
						}
					}
					&:first-child a:after {
						display: none;
					}
				}
			}

		}
	}

	//header-top-right
	.header-top-right {
		width: 37%;
		float: right;
		text-align: right;
		.hamburger-area {
			display: inline-block;
			.hamburger-button {
				position: relative;
				padding-right: 15px;
				&:after {
					position: absolute;
					top: 0;
					right: -3px;
					content: '';
					background: $header-border-color2;
					width: 2px;
					height: 35px;
					margin-top: -4px;
				}

			}
		}
		.social-link-area {
			display: inline-block;
			padding: 0 15px;
			position: relative;
			img {
				width: 25px;
				height: 25px;
			}
			&:after {
				position: absolute;
				top: 0;
				right: -2px;
				content: '';
				background: $header-border-color2;
				width: 2px;
				height: 35px;
				margin-top: -4px;
			}

		}
		.header-search-box {
			display: inline-block;
			padding-left: 15px;
			input.search-field {
				width: 150px;
				padding: 2px 10px;
				border: 1px solid $header-border-color3;
				&::placeholder {
					color: #F94319;
					font-size: 18px;
					font-family: $font-family-ibm-plex-serif;
				}
			}
			button {
				display: inline-block;
				margin-left: 5px !important;
				border-radius: 3px !important;
				padding: 2px 10px;
				border: 1px solid $header-border-color3;
			}

		}
		.header-top-right-inner {
			margin: 35px 0;
		}
	}

}

.logged-in.admin-bar {
	.sticky-header {
		top: 32px;
	}
}
//sticky header
.sticky-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	background: #fff;
	box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
	transition: .4s;
	.header-top-section {
		margin-top: 0;
	}

	.top-menu-area {
		.top-menu-list {
			li {
				a {
					font-size: 1.2em !important;
				}
				.sub-title {
					display: none;
				}
			}

		}
	}

	.logo-area {
		img {
			height: 60px;
			padding-right: 25px!important;
		}
	}

	.header-top-right {
		.hamburger-area {
			.hamburger-button {
			}
		}
		.social-link-area {

		}
		.header-search-box {

		}
	}

	.site-navigation {
		ul {
			li {
				a {
					font-size: 16px;
				}
			}
		}
	}

}


