.site-navigation {
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	ul {
		li {
			a {
				@include font-size($header-main-menu-font-size);
				color: $header-main-menu-color;
				font-weight: 400;
				&:hover,
				&:active,
				&:focus {
					background: none;
					color: darken($header-main-menu-hover-color, 15%);
				}
			}

			&.open {
				a {
					background-color: transparent;
					&:hover,
					&:focus {
						background-color: transparent;
					}
				}
			}
			.dropdown-menu {
				padding: 8px 10px;
				min-width: 200px;
				border-radius: 0;
				> li {
					padding: 0;
					&:before {
						position: static;
					}
					> a {
						@include font-size($header-submenu-font-size);
						padding: 3px 15px;
						&:hover {
							background-color: #f5f5f5;
						}
					}
				}
			}
			.dropdown-menu > .active > a,
			.dropdown-menu > .active > a:focus,
			.dropdown-menu > .active > a:hover {
				background-color: #f5f5f5;
				color: #ff1266;
			}
		}
		.active > a {
			background: none;
			color: darken($header-main-menu-hover-color, 15%);
		}
	}

	.nav .open > a,
	.nav .open > a:focus,
	.nav .open > a:hover {
		background-color: inherit;
		border-color: inherit;
	}
}


