@media only screen and (min-width: 1024px) and (max-width: 1199px) {

}

@media only screen and (max-width: 1330px) {
	.header-search-box {
		display: block;
		text-align: left;
		padding: 30px 0 0;
	}

	//header
	.header-top-section {
		margin-top: 0;
		.header-top-left {
			width: 57%;
			float: left;

			.logo-area {
				img {
					height: 60px;
				}
			}

			.top-menu-area {
				.top-menu-list {
					li {
						a {
							font-size: 1.2em !important;
						}
						.sub-title {
							display: none;
						}

					}
				}
			}

		}

		//header-top-right
		.header-top-right {
			width: 43%;
			.header-top-right-inner {
				margin: 0;

				.hamburger-button {
					img {
						height: 22px;
						width: 22px;
					}
				}

				.social-link-area {
					img {
						width: 24px;
						height: 24px;

					}
				}

			}
		}

	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	//header-search-box
	.header-search-box {
		display: block;
		text-align: left;
		padding: 30px 0 0;
	}

	//footer section
	.footer-top-block {
		margin-left: 0;
		margin-bottom: 20px;
		padding: 0 5px;
		.follow-us-area {
			margin-left: 0;
		}
	}
	.footer-message-area {
		.footer-message-top {
			margin-top: 0;
		}
		margin-bottom: 20px;
	}
	.footer-area {
		.footer-right-area {
			margin-left: 0;
		}
	}

}

@media only screen and (max-width: 767px) {
	//footer section
	.footer-top-block {
		margin-left: 0;
		margin-bottom: 20px;
		padding: 0 5px;
		.follow-us-area {
			margin-left: 0;
		}
	}
	.footer-message-area {
		.footer-message-top {
			margin-top: 0;
		}
		margin-bottom: 20px;
	}
	.footer-area {
		.footer-right-area {
			margin-left: 0;
		}
	}

	//header-top-section
	.header-top-section {
		.header-top-left {
			width: 100%;
			float: inherit !important;
			.logo-area {
				display: block;
				text-align: center;
			}
			.top-menu-area {
				display: block;
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;
				padding: 15px 0;
			}
		}
		.header-top-right {
			width: 100%;
			float: inherit !important;
			text-align: center !important;
			.header-search-box {
				display: block;
				text-align: center;
				padding: 15px  0;
			}
		}
	}

	//main-menu
	.site-navigation {
		display: none;
	}

	//feature post
	.feature-post {
		.feature-post-top {
			flex: 0 0 50%;
		}
		.feature-post-bottom {
			padding: 0 15px;
			flex: 0 0 50%;
			.category-name {
				font-size: $font-s-18;
			}
			.title {
				font-size: $font-s-20;
				margin: 10px 0;
			}
			.sub-title {
				font-size: $font-s-18;
			}
		}
	}
	//post card
	.post-card {
		.post-card-bottom {
			padding-bottom: 20px;
			.meta-category {
				.category-name {
					font-size: 18px;
				}
			}
			.title {
				font-size: 20px !important;
			}
		}
	}

	//category-section
	.categories-inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	//single post
	.single-post {
		.site-main {
			padding-right: 0;
		}
	}
	.custom-single-post {
		.entry-content {
			padding-right: 0;
		}
	}
	.p-r-120 {
		padding-right: 0;
	}
	//read-comment-btn
	.read-comment-btn {
		font-size: 16px;
	}
	//blog-post
	.category-blog {
		.p-r-45 {
			padding-right: 0;
		}
		.blog-post {
			padding-right: 0;
		}
	}
	//page-template-right-sidebar
	.page-template-template-right-sidebar {
		.p-r-45 {
			padding-right: 0;
		}
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	//feature post
	.feature-post {
		.feature-post-top {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
		}
		.feature-post-bottom {
			padding: 0 15px;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			.category-name {
				font-size: $font-s-18;
			}
			.title {
				font-size: $font-s-20;
				margin: 10px 0;
			}
			.sub-title {
				font-size: $font-s-18;
			}

		}
	}

	//post-card
	.post-card {
		.post-card-bottom {
			margin-bottom: 20px;
			.meta-category {
				.category-name {
					font-size: $font-s-18;
				}
			}
			.title {
				font-size: $font-s-20 !important;
			}
		}
	}

	//category-section
	.categories-inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	//single post
	.single-post {
		.site-main {
			padding-right: 0;
		}
	}
	.custom-single-post {
		.entry-content {
			padding-right: 0;
		}
	}
	.p-r-120 {
		padding-right: 0;
	}

	//read-comment-btn
	.read-comment-btn {
		font-size: 14px;
	}

	//blog-post
	.category-blog {
		.p-r-45 {
			padding-right: 0;
		}
		.blog-post {
			padding-right: 0;
		}
	}

	//page-template-right-sidebar
	.page-template-template-right-sidebar {
		.p-r-45 {
			padding-right: 0;
		}
	}

}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	//single post
	.single-post {
		.site-main {
			padding-right: 0;
		}
	}
	.custom-single-post {
		.entry-content {
			padding-right: 0;
		}
	}
	.p-r-120 {
		padding-right: 0;
	}

	//read-comment-btn
	.read-comment-btn {
		font-size: 14px;
	}
	//page-template-right-sidebar
	.page-template-template-right-sidebar {
		.p-r-45 {
			padding-right: 0;
		}
	}

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	.site-navigation {
		ul {
			margin-top: 10px;
			li {
				position: static;
				padding: 0;
				&:before {
					position: static;
				}
				a {
					padding: 10px 5px;
					font-size: 16px;
				}
				&.open {
					.dropdown-menu {
						padding: 0;
						> li {
							> a {
								margin: 0;
								padding: 10px 20px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 767px) {
	&.dropdown {
		&:hover {
			.dropdown-menu {
				display: block;
			}
		}
	}
}
