
//list class
.list-unstyled {
	padding-left: 0;
	list-style: none;
}

//border
.border-1 {
	border: 1px solid red;
}

.border-s-b-1 {
	border-bottom: 1px solid #BDD53C;
}

.border-4 {
	border: 4px solid #BDD53C !important;
}

//section padding
.section-padding {
	margin: 50px 0;
	border-bottom: 1px solid #BDD53C;
}

.section-padding2 {
	padding: 50px 0 50px;
}

.section-padding3 {
	padding: 60px 0 60px;
}

//margin
.m-b-0 {
	margin-bottom: 0;
}

.m-b-30 {
	margin-bottom: 30px;
}
.m-tb-40{
	margin-top: 40px;
	margin-bottom: 40px;
}
.m-t-18{
	margin-top: 18px;
}
//padding
.p-tb-30 {
	padding: 30px 0;
}

.p-10 {
	padding: 10px;
}

.p-b-30 {
	padding-bottom: 30px;
}
.p-b-60{
	padding-bottom: 60px;
}
.p-r-120{
	padding-right: 120px;
}

.p-r-45{
	padding-right: 45px;
}

//section bg
//==========
.cs-bg {
	background: #B7E068;
}
//sponsored
.sponsored{
	background: $sponsored-bg-color!important;
}
.sp-text{
	color: $sp-text-color;
	text-transform: uppercase;
}

//height auto class
.height-auto{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}


