// Some basic padding for all wrappers
.wrapper {
	padding: $grid-gutter-width 0;
}

// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky, .gallery-caption, .bypostauthor {
	font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
	border-bottom: 1px solid $gray-light;
}

// Necessary WP classes
.wp-caption {
	font-size: inherit;
}

.wp-caption-text {
	font-size: inherit;
}

.screen-reader-text {
	font-size: inherit;
	word-wrap: normal !important;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	margin: 0px auto;
}

//Post design
.entry-footer span {
	padding-right: 10px;
}

//Limit featured image size to 100%
img.wp-post-image, article img, figure, #secondary img {
	max-width: 100%;
}

// Skip to content link
a.skip-link {
	z-index: 1000;
	position: fixed;
	top: 0px;
	right: 0px;
}

// Reset Jumbotron default margin
.jumbotron {
	margin-bottom: 0px;
}

//Bootstrap3 to Bootstrap4 "translation"
//.menu-item {float:left; width:auto; display:inline;}

// Fixing BS dropdown in a dropdown
.dropdown-menu .dropdown-menu {
	position: relative;
	display: block;
	border: none;
	box-shadow: none;
	margin-left: 30px;
	width: 120px;
	li {
		list-style: square;
		padding-left: 0px;

		a {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

//widget
.widget {
	margin-bottom: 40px;
	.widget-title {
		font-weight: 400;
		text-transform: uppercase;
		font-size: 24px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			border-bottom: 1px solid $silver-sand;
			border-top: 1px solid $silver-sand;
			padding: 0.5em 0;
			a {
				box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1);
				text-decoration: none;
			}
			li {
				border: 0;
				padding-left: 24px;
			}
			ul {
				margin: 0 0 -1px;
				padding: 0;
				position: relative;
			}

		}
	}
	&:not(.widget_tag_cloud) ul {
		li + li {
			margin-top: -1px;
		}
	}
	select {
		width: 100%;
		height: 40px;
		padding: 5px;
		border: 1px solid $silver-sand;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		&:focus,
		&:hover,
		&active {
			outline: 0;
		}
	}
	.screen-reader-text,
	.assistive-text {
		display: none;
	}

}

.widget_calendar {
	table {
		border-collapse: collapse;
		margin: 0;
		width: 100%;
		caption {
			text-align: center;
		}
		th, td {
			text-align: center;
		}
		th:first-child,
		td:first-child {
			padding-left: 0;
		}
		tr {
			border-bottom: 1px solid #eee;
		}
		td {
			padding: 5px;
		}

		thead th {
			border-bottom: 2px solid #bbb;
			padding-bottom: 0.5em;
		}

	}
}

.widget_rss {
	ul {
		li {
			.rsswidget {
				font-size: $font-size-large !important;
				line-height: 1.4;
				font-weight: 600;
				display: block;
			}
			.rss-date,
			cite {
				margin: 8px 2px 10px;
				padding: 0;
				color: #767676;
				display: block;
				font-size: 12px;
				font-style: normal;
				font-weight: 800;
				letter-spacing: 0.18em;
				line-height: 1.5;
				text-transform: uppercase;
			}
			.rssSummary {
				margin-bottom: 5px;
			}
		}
	}
}

.widget_search {

}

